@charset "UTF-8";


@media only screen and (min-width:769px) and (max-width: 1011px){
    body {
    background: linear-gradient(to bottom, #B55DFA, #180220fb); 
    }

    section {
        width:100vw;
        height:100vh;
        display:flex;
        margin:auto;
        align-items:center;
        justify-content:center;
        flex-direction:row-reverse;     
        
        transition: width .4s height .4s;
    }

    article{
        box-sizing: border-box;
        height: 280px;
        width: 55vw;
        background-color: white;   
        border-radius: 0px 10px 10px 0px;
        box-shadow: 1.2px 1px 3px rgba(0, 0, 0, 0.438);
    }

    div#imgFundo{
        background-image: url(../midia/pexels-vlad-fonsark-3988897\ \(1\).jpg);
        height: 280px;
        width: 25vw;
        background-position: center;
        background-size: cover;
        border-radius: 10px 0px 0px 10px;
        box-shadow: 1.2px 1px 3px rgba(0, 0, 0, 0.438);  
    }

    article>h1 {
        text-align: center;
        padding: 10px;
        font-size:1.6em;
    }

    article>p{
        text-align: justify;
        margin: 0px 10px;
        text-indent: 4px;
        font-size: 0.9em;
    }

    input{
        background-color: rgb(230, 226, 221);
    }

    input#entrar{
        background-color: rgb(121, 87, 14);
        border-radius: 8px;
        width: 51vw;
        margin: auto;
        height: 35px;
        color: white;
        margin:8px 0px 8px 17px;
        
    }
    
    input#entrar:hover{
        background-color: rgb(92, 66, 9);
        cursor: pointer;
    }

    a.botao{  
        display: block;
        height: 35px;
        width: 51vw;
  
        border: 2px solid rgb(107, 68, 17); 
        color:black;
        border-radius: 8px;
        text-decoration: none;
        padding: 0px 0px 34px 0px;
        margin: auto;
        text-align: center;  
    } 
    
    a.botao:hover{
        background-color: rgb(185, 107, 44);
    }

    div.login>input{
        width: 47.3vw;
        height: 35px;
        border-radius: 8px;
    }

    /*Box Login and Password*/
    div.login{
        margin: auto;
        background-color: rgb(144, 34, 172);
        width: 51vw;
        margin-top: 8px;
        border-radius:8px;
    }

    /* Icons */
    span{
        color: white;
    }
}




    
