@charset "UTF-8";



section{
    font-family: Arial, Helvetica, sans-serif;
    width: 50vw;
    height: 100vh;
   
    margin:auto;
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    

}

article{
    background-color: rgb(240, 240, 240);
    text-align: center;
    height: 34vh;
    width: 270px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 1px 1px 1px black;
}

article>h1{
    padding: 10px;
    font-size: 1.6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article>p{
    font-size: 0.9em;
    padding: 3px 3px;
   
}

div#imgFundo{
    background-image: url(../midia/pexels-vlad-fonsark-3988897\ \(1\).jpg);
    background-size: cover;
    background-position: center bottom;
    width: 270px;
    height: 25vh;    
    border-radius: 15px 15px 0px 0px;
    box-shadow: 2px 2px 4px rgb(27, 3, 54);
}

/* Input email e entrar */
div.login{
    background-color: rgb(144, 34, 172);
    padding: 2px;
    margin: 4px;
    border-radius: 10px;
    width: 255px;

}

div.LinkSenha{
    width: 200px;
    border: 2px solid rgba(165, 52, 165, 0.24); 
    margin-left: 40px;
    margin-top: 3px;;
    color: black;
    padding: 3px
} 

div.LinkSenha>a{
    text-decoration: none;

}

/* Botão Entrar */
div#clickLogin{
    background-color: rgb(114, 26, 158);
    border-radius: 10px;
    width: 255px;
    margin: auto;
    height: 2.5vh;
    
}
/* Link entrar */
div#clickLogin>a{
    color:white;
}

div#clickEsqueci{
    width: 255px;
    margin: auto;
    border-radius:10px;
    margin-top: 4px;
}


input{
    width: 190px;
    height: 3.5vh;
    border-radius: 7px;
    background-color: rgb(202, 200, 202);

}




